{% extends "student/layout.html" %}

<!----------------- STYLES ----------------->
{% block style %}
<style>
  /* Apply bold style to the header cells */
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }
</style>
{% endblock %}

<!----------------- CONTENTS ----------------->
{% block content %}
<div class="lg:px-40 md:px-16 py-4 w-screen px-8 mb-8">
  <h3 class="text-3xl font-bold text-c4 mb-4">Change Password</h3>
  <div class="flex gap-3">
    <div class="bg-white w-screen rounded-lg shadow-md flex p-4">
      <div class="w-full lg:w-full md:w-full p-2">
        <h3 class="text-2xl font-bold text-c4 mb-3" id="name">
          BASCO, JOCARL PATIÑO
        </h3>
        <hr />
        <div class="mt-4">
          <form class="w-full mt-4" method="POST" onsubmit="submitForm(event)">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <!-- INPUTS HERE -->
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-bold text-c1"
                  >Current Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Current Password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                />
                <p id="pass-error" class="text-c4 text-sm"></p>
              </div>
              <div>
                <label
                  for="new-password"
                  class="block mb-2 text-sm font-bold text-c1"
                  >New Password</label
                >
                <input
                  type="password"
                  id="new-password"
                  name="new-password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                  placeholder="New Password"
                />
                <p id="newpass-error" class="text-c4 text-sm"></p>
              </div>
              <div>
                <label
                  for="confirm-password"
                  class="block mb-2 text-sm font-bold text-c1"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  id="confirm-password"
                  name="confirm-password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                  placeholder="Confirm Password"
                />
                <p id="cpass-error" class="text-c4 text-sm"></p>
              </div>
            </div>
            <button
              type="submit"
              class="text-white bg-c4 hover:bg-c5 transition duration-300 font-bold text-sm sm:w-auto px-5 px-5 py-2 text-center"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------- FOOTER CONTENTS ----------------->
<div class="bg-white lg:px-40">
  <footer class="items-center justify-between mx-auto px-8 py-8">
    <h1 class="text-c1 text-2xl mb-2 font-bold">Contact Information</h1>
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Email:</h5>
        <p class="text-lg">quezoncity@pup.edu.ph</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Postal Mail:</h5>
        <p class="text-lg">PUP Quezon City Branch</p>
        <p class="text-lg">Don Fabian St., Commonwealth</p>
        <p class="text-lg">Quezon City Philippines</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Telephone:</h5>
        <p class="text-lg">(632) 8952-7818</p>
        <p class="text-lg">(632) 8287-8204</p>
      </div>
    </div>
  </footer>
</div>

{% endblock %}

<!----------------- SCRIPTS ----------------->
{% block script %}
<!-- Include Notyf script -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<!-- CHANGING PASSWORD -->
<script>
  const notyf = new Notyf({
    duration: 5000,
    position: {
      x: 'right',
      y: 'top',
    },
    types: [
      {
        type: 'success',
        background: '#5EEE82', // Custom background color for success notifications (e.g., green)
        duration: 5000,
        dismissible: true,
      },
      {
        type: 'error',
        background: '#ef233c', // Custom background color for error notifications (e.g., orange)
        duration: 5000,
        dismissible: true,
      },
    ],
  });

  const text_pass_error = document.getElementById('pass-error');
  const text_new_pass_error = document.getElementById('newpass-error');
  const text_confirm_pass_error = document.getElementById('cpass-error');

  async function submitForm(event) {
    event.preventDefault();
    const password = document.getElementById('password').value;
    const new_password = document.getElementById('new-password').value;
    const confirm_password = document.getElementById('confirm-password').value;

    setErrorText(text_pass_error, '');
    setErrorText(text_new_pass_error, '');
    setErrorText(text_confirm_pass_error, '');

    let error = false;

    if (!password) {
      setErrorText(text_pass_error, 'The password must not be invalid');
      error = true;
    }

    if (
      !isValidPasswordLength(new_password) ||
      !isValidPasswordLength(confirm_password)
    ) {
      setErrorText(
        text_new_pass_error,
        isValidPasswordLength(new_password)
          ? ''
          : 'The new password must be 8 characters long'
      );
      setErrorText(
        text_confirm_pass_error,
        isValidPasswordLength(confirm_password)
          ? ''
          : 'The confirm password must be 8 characters long'
      );
      error = true;
      if (error) {
        return;
      }
    }

    if (
      !hasUppercaseLowercaseNumber(new_password) ||
      !hasUppercaseLowercaseNumber(confirm_password)
    ) {
      setErrorText(
        text_new_pass_error,
        hasUppercaseLowercaseNumber(new_password)
          ? ''
          : 'New password must have at least one uppercase letter, one lowercase letter, and a digit'
      );
      setErrorText(
        text_confirm_pass_error,
        hasUppercaseLowercaseNumber(confirm_password)
          ? ''
          : 'Confirm password must have at least one uppercase letter, one lowercase letter, and a digit'
      );
      error = true;
    }

    if (!error && new_password !== confirm_password) {
      notyf.error('New passwords do not match');
      error = true;
    }

    if (error) {
      return;
    }

    try {
      const response = await fetch(`${api_base_url}/change/password`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ password, new_password, confirm_password }),
      });

      const data_student_details = await response.json();

      if (
        data_student_details.status === 400 ||
        data_student_details.status === 404 ||
        data_student_details.status === 500
      ) {
        notyf.error(data_student_details.message);
      } else if (data_student_details.status === 200) {
        notyf.success(data_student_details.message);
        clearInputFields(); // Call the function to clear input fields
      } else {
        notyf.error('Something went wrong');
      }
    } catch (error) {
      console.error('Error:', error);
    }
  }
</script>

<!-- INPUT VALIDITY CHECKER -->
<script>
  function setErrorText(element, message) {
    element.innerText = message;
  }

  function isValidPasswordLength(password) {
    return password.length >= 8;
  }

  function hasUppercaseLowercaseNumber(password) {
    return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)/.test(password);
  }

  function clearInputFields() {
    document.getElementById('password').value = '';
    document.getElementById('new-password').value = '';
    document.getElementById('confirm-password').value = '';
    text_pass_error.innerText = '';
    text_new_pass_error.innerText = '';
    text_confirm_pass_error.innerText = '';
  }
</script>

<!-- FETCHING USER DETAILS -->
<script>
  async function fetchStudentDetails() {
    const response = await fetch(`${api_base_url}/`);

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }

    const data_student_details = await response.json();
    displayDetails(data_student_details);
  }

  function displayDetails(data) {
    const text_name = document.getElementById('name');

    text_name.innerText = data.Name;
  }

  fetchStudentDetails();
</script>

{% endblock %}
