{% extends "student/layout.html" %} {% block style %}
<style>
  /* Apply bold style to the header cells */
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }

  /* Define modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }

  .modal-content p {
    margin-bottom: 20px;
  }

  .modal-buttons {
    text-align: right;
  }

  .modal-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-buttons button:hover {
    background-color: #f0f0f0;
  }

  /* Add style for highlighting invalid fields */
  .invalid-field {
    border: 2px solid #ff0000 !important;
  }

  .spacing-bottom {
    margin-bottom: 1.5rem; /* Adjust this value as needed */
  }
</style>
{% endblock %} {% block content %}
<div class="lg:px-40 md:px-16 py-4 w-screen px-8 mb-8">
  <h3 class="text-3xl font-bold text-c4 mb-4">Faculty Case Form</h3>
  <div class="flex gap-3">
    <div class="bg-white w-screen shadow-md rounded-lg flex p-4">
      <div class="w-full lg:w-full md:w-full p-2">
        <h3 class="text-2xl font-bold text-c4 mb-3" id="name"></h3>
        <hr />

        <form class="w-full mt-4" id="submitReport">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <!-- INPUTS HERE -->
            <div>
              <label for="date-input" class="block mb-2 text-c1 font-extrabold"
                >Date</label
              >
              <input
                type="date"
                id="date-input"
                name="date"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              />
              <p id="error-date" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label for="time-input" class="block mb-2 text-c1 font-extrabold"
                >Time</label
              >
              <input
                type="time"
                id="time-input"
                name="time"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              />
              <p id="error-time" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="location-input"
                class="block mb-2 text-c1 font-extrabold"
                >Location</label
              >
              <select
                id="location-input"
                name="location"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              >
                <option value="" disabled selected>Select Location</option>
                {% for location in locations %}
                <option value="{{ location.LocationId }}">
                  {{ location.Name }}
                </option>
                {% endfor %}
              </select>
              <p id="error-location" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="faculty-input"
                class="block mb-2 text-c1 font-extrabold"
                >Complainee</label
              >
              <select
                id="faculty-input"
                name="faculty"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              >
                <option value="" disabled selected>Select Faculty</option>
                {% for Faculty in faculty|sort(attribute='LastName') %}
                <option value="{{ Faculty.FacultyId }}">
                  {{ Faculty.LastName }}, {{ Faculty.FirstName }}
                </option>
                {% endfor %}
              </select>
              <p id="error-faculty" class="text-c4 text-sm"></p>
            </div>

            <div class="md:col-span-2">
              <label
                for="description-input"
                class="block mb-2 text-c1 font-extrabold"
                >Description</label
              >
              <textarea
                type="text"
                id="description-input"
                name="description"
                placeholder="Enter Description"
                rows="6"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              ></textarea>
              <p id="error-description" class="text-c4 text-sm"></p>
            </div>
          </div>

          <div class="spacing-bottom">
            <label for="file-input" class="block mb-2 text-c1 font-extrabold"
              >Attach File</label
            >
            <input
              type="file"
              id="file-input"
              name="file"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-half px-2 py-1"
            />
            <p class="text-c4 text-sm block px-3 py-1">
              Only PDF files are accepted.
            </p>
            <p id="error-file" class="text-c4 text-sm"></p>
          </div>

          <!-- Submit button -->
          <button
            type="button"
            id="submitModalBtn"
            class="text-white bg-c4 hover:bg-c5 transition duration-300 font-bold text-sm sm:w-auto px-5 px-5 py-2 text-center"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <p>
      I declare that the information provided to [PUP complaint system] for
      collection is true and accurate to the best of my knowledge. I understand
      that providing false information may have legal consequences and may
      result in punishment as per student code and conduct and applicable laws.
    </p>
    <p>
      Click "<strong>OK</strong>" button to proceed. Otherwise, click
      "<strong>Cancel</strong>" button to go back.
    </p>
    <div class="modal-buttons">
      <button id="confirmSubmitBtn" class="bg-red-800 text-white">OK</button>
      <button id="cancelSubmitBtn" class="bg-gray-400 text-gray-800">
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="bg-white lg:px-40">
  <footer class="items-center justify-between mx-auto px-8 py-8">
    <h1 class="text-c1 text-2xl mb-2 font-bold">Contact Information</h1>
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Email:</h5>
        <p class="text-lg">quezoncity@pup.edu.ph</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Postal Mail:</h5>
        <p class="text-lg">PUP Quezon City Branch</p>
        <p class="text-lg">Don Fabian St., Commonwealth</p>
        <p class="text-lg">Quezon City Philippines</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Telephone:</h5>
        <p class="text-lg">(632) 8952-7818</p>
        <p class="text-lg">(632) 8287-8204</p>
      </div>
    </div>
  </footer>
</div>
{% endblock %} {% block script %}
<!-- Include Notyf script -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<script>
  // Get the form
  const confirmationModal = document.getElementById('confirmationModal');
  const submitModalBtn = document.getElementById('submitModalBtn');
  const confirmSubmitBtn = document.getElementById('confirmSubmitBtn');
  const cancelSubmitBtn = document.getElementById('cancelSubmitBtn');

  // Add event listener to the form submission
  function submitForm(formData) {
    const apiUrl = "{{ url_for('student_api.facultyReporting') }}";

    fetch(apiUrl, {
      method: 'POST',
      body: formData,
      credentials: 'include', // Include credentials (cookies) in the request
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Failed to submit report');
        }
        return response.json(); // Parse the JSON response
      })
      .then((data) => {
        // If the API returned a success message, display it and reset the form
        console.log('success:', data);
        if (data.success) {
          notyf.success(data.message);
          document.getElementById('submitReport').reset(); // Reset the form
        } else {
          // If the API returned an error message, display it
          notyf.error(data.message);
        }
      })
      .catch((error) => {
        // Handle errors
        console.error('Error submitting report:', error.message);
        notyf.error('Failed to submit report');
      });
  }

  // Add event listener to the submit button to show the modal
  submitModalBtn.addEventListener('click', function () {
    const form = document.getElementById('submitReport');
    const formIsValid = form.checkValidity();

    if (formIsValid) {
      confirmationModal.style.display = 'block';
    } else {
      // Iterate over form elements to find empty required fields
      const formElements = form.querySelectorAll('input, select');
      formElements.forEach((element) => {
        if (!element.checkValidity()) {
          element.classList.add('invalid-field');
        } else {
          element.classList.remove('invalid-field');
        }
      });

      notyf.error('Please fill out all required fields');
    }
  });

  // Add event listener to the OK button in the modal to submit the form
  confirmSubmitBtn.addEventListener('click', function () {
    // Get the form data
    const formData = new FormData(document.getElementById('submitReport'));
    // Submit the form
    submitForm(formData);
    // Hide the modal
    confirmationModal.style.display = 'none';
  });

  // Add event listener to the Cancel button in the modal to hide the modal
  cancelSubmitBtn.addEventListener('click', function () {
    confirmationModal.style.display = 'none';
  });
</script>
{% endblock %}
