{% extends "student/layout.html" %} {% block title %} Case Filing Guidelines {%
endblock title %} {% block style %}
<style>
  /* Apply bold style to the header cells */
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }

  #response {
    position: relative;
    width: 100%; /* Set the width of the parent */
    height: auto; /* Let the height adjust based on content */
  }

  #columnChartContainer {
    position: relative;
    width: 100%; /* Inherit the width of the parent */
    height: 100%; /* Inherit the height of the parent */
  }

  /* Adjust guideline titles */
  .guideline p.title {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }

  /* Adjust guideline descriptions */
  .guideline p.description {
    font-size: 16px;
    color: black;
  }

  /* Adjust additional content */
  .additional-content {
    font-size: 16px;
    color: black;
    line-height: 1.5;
  }
</style>
{% endblock %} {% block content %}
<div class="lg:px-40 md:px-16 py-4 w-screen px-8">
  <h3 class="text-3xl font-bold text-c4 mb-4">Case Filing Guidelines</h3>

  <div class="bg-white rounded-lg p-6 shadow-md">
    <div class="guideline">
      <p class="title">Date:</p>
      <p class="description">
        Please specify date on which the incident occurred or submitting the
        complaint.
      </p>
    </div>

    <div class="guideline mt-4">
      <p class="title">Time of Incident:</p>
      <p class="description">Specify the time the incident occurred.</p>
    </div>

    <div class="guideline mt-4">
      <p class="title">Location:</p>
      <p class="description">
        Provide the location where the incident occurred or the context of the
        report. Include any relevant details such as school building, specific
        place which the incident occurred.
      </p>
    </div>

    <div class="guideline mt-4">
      <p class="title">Party Involved:</p>
      <p class="description">
        Input the specific individual in the incident or report. This may
        include students and faculty.
      </p>
    </div>

    <div class="guideline mt-4">
      <p class="title">Description:</p>
      <p class="description">
        Please provide a detailed description of the incident or issue. Include
        all relevant information, such as specific actions, conversations, or
        circumstances, surrounding the complaint. Be as specific and clear as
        possible.
      </p>
    </div>
  </div>

  <div class="bg-white mt-4 p-8 rounded-lg shadow-md additional-content">
    <p>
      Any member of the PUP community has the ability to report complaints they
      believe violate our Community Guidelines. When a complaint is flagged, it
      doesn't automatically result in immediate action or sanctions. Flagged
      complaints are reviewed in accordance with the following guidelines:
    </p>
    <p class="guideline mt-4">
      Complaints that violate our School Guidelines and Student Code of Conduct
      are subject to sanctions. Actions deemed inappropriate for the entire
      campus community may result in disciplinary measures.
    </p>
  </div>
</div>

<div class="bg-white lg:px-40 shadow-md">
  <footer class="items-center justify-between mx-auto px-8 py-8">
    <h1 class="text-c1 text-2xl mb-2 font-bold">Contact Information</h1>
    <div class="flex flex-wrap lg:flex-nowrap gap-4">
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Email:</h5>
        <p class="text-lg">quezoncity@pup.edu.ph</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Postal Mail:</h5>
        <p class="text-lg">PUP Quezon City Branch</p>
        <p class="text-lg">Don Fabian St., Commonwealth</p>
        <p class="text-lg">Quezon City Philippines</p>
      </div>
      <div class="w-screen md:w-5/12 md:grow lg:w-4/12">
        <h5 class="text-lg font-semibold md:font-bold">Telephone:</h5>
        <p class="text-lg">(632) 8952-7818</p>
        <p class="text-lg">(632) 8287-8204</p>
      </div>
    </div>
  </footer>
</div>

{% endblock %} {% block script %} {% endblock script %}
