<!-- templates/student/profile.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              c1: '#2b2d42', // dark red
              c2: '#8d99ae', // light red
              c3: '#edf2f4', // white
              c4: '#ef233c', // gray
              c5: '#d90429', // dark black
              primary: '#6376EB',
              secondary: '#CDD3D8',
              info: '#29BAF2',
              success: '#5EEE82',
              warning: '#FFA434',
              danger: '#FFA6A1',
              dark: '#191D21',
            },
          },
        },
      };
    </script>

    <!-- Notyf -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />

    <!-- ALPINE JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer
    ></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <style>
      /* html,
      body {
        max-width: 100%;
        overflow-x: hidden;
      } */

      .notyf {
        margin-top: 80px;
      }
    </style>

    {% block style %} {% endblock %}
  </head>
  <body>
    <main class="flex flex-row bg-slate-200">
      <div class="flex-grow w-screen bg-slate-200">
        <nav class="bg-white border-gray-200 shadow-md lg:px-32 md:px-12 z-10">
          <div class="flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center my-auto">
              <img
                class="md:w-auto h-14 w-14"
                src="{{ url_for('static', filename='images/pup.png') }}"
                alt=""
              />
              <span
                class="md:text-3xl text-xl ml-4 font-bold whitespace-nowrap text-gray-700 mb-1"
              >
                PUPQC SCDS
              </span>
            </a>

            <div>
              <ul class="flex gap-8 font-bold text-slate-700">
                <!-- DESKTOP VIEW -->
                <!-- Inside the settings dropdown in both desktop and mobile views -->
                <li>
                  <a
                    href="{{ url_for('studentIncidentReport') }}"
                    class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'incident_report_form' else 'hover:text-c4' }}"
                  >
                    Case Form
                  </a>
                </li>

                <li>
                  <a
                    href="{{ url_for('violationFOrm') }}"
                    class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'violationFOrm' else 'hover:text-c4' }}"
                  >
                    Violation Form
                  </a>
                </li>

                <li>
                  <a
                    href="{{ url_for('studentViewCases') }}"
                    class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'view_reports' else 'hover:text-c4' }}"
                  >
                    My Cases
                  </a>
                </li>

                <li>
                  <a
                    href="{{ url_for('studentViewViolations') }}"
                    class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'view_violations' else 'hover:text-c4' }}"
                  >
                    My Violations
                  </a>
                </li>

                <li
                  class="{{ 'text-c4' if current_page == 'home' else 'hover:text-c4' }} font-bold duration-300 my-auto hidden sm:block"
                >
                  <a href="{{ url_for('studentHome') }}">Home</a>
                </li>

                <!-- Desktop settings dropdown (visible on small screens and above) -->
                <li class="hidden sm:block">
                  <div x-data="{ isOpen: false }" class="relative">
                    <div
                      @click="isOpen = !isOpen"
                      class="p-2 border rounded-lg bg-gradient-to-r from-c4 to-c5 text-white px-5 flex items-center cursor-pointer"
                    >
                      Settings
                      <svg
                        class="w-4 h-4 ml-2 text-white"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path d="M19 9l-7 7-7-7"></path>
                      </svg>
                    </div>

                    <div
                      x-show="isOpen"
                      @click.away="isOpen = false"
                      class="absolute right-0 mt-2 bg-white border rounded-lg shadow-lg w-[180px]"
                    >
                      <ul>
                        <li>
                          <a
                            href="{{ url_for('studentProfile') }}"
                            class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'profile' else 'hover:text-c4' }}"
                            >Profile</a
                          >
                        </li>
                        <li>
                          <a
                            href="{{ url_for('changePassword') }}"
                            class="block px-4 py-2 duration-300 {{ 'text-c4' if current_page == 'change-password' else 'hover:text-c4' }}"
                            >Change Password</a
                          >
                        </li>
                        <li>
                          <button
                            type="button"
                            onclick="logout()"
                            class="block px-4 py-2 duration-300 hover:text-c4"
                          >
                            Logout
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

                <!-- MOBILE VIEW -->
                <li class="block sm:hidden my-auto">
                  <!-- Hide on small and larger screens -->
                  <div x-data="{ isOpen: false }" class="relative">
                    <button
                      @click="isOpen = !isOpen"
                      class="p-2 border rounded-lg bg-gradient-to-r from-c4 to-c5 text-white px-5 flex items-center"
                    >
                      Settings
                      <svg
                        class="w-4 h-4 ml-2 text-white"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path d="M19 9l-7 7-7-7"></path>
                      </svg>
                    </button>

                    <div
                      x-show="isOpen"
                      @click.away="isOpen = false"
                      class="absolute right-0 mt-2 bg-white border rounded-lg shadow-lg w-[180px] z-10"
                    >
                      <ul>
                        <li>
                          <a
                            href="{{ url_for('studentHome') }}"
                            class="block px-4 py-2 {{ 'text-c4' if current_page == 'home' else 'hover:text-c4' }}"
                            >Home</a
                          >
                        </li>

                        <li>
                          <a
                            href="{{ url_for('studentProfile') }}"
                            class="block px-4 py-2 {{ 'text-c4' if current_page == 'profile' else 'hover:text-c4' }}"
                            >Profile</a
                          >
                        </li>
                        <li>
                          <a
                            href="{{ url_for('changePassword') }}"
                            class="block px-4 py-2 {{ 'text-c4' if current_page == 'change-password' else 'hover:text-c4' }}"
                            >Change Password</a
                          >
                        </li>
                        <li>
                          <button
                            type="button"
                            onclick="logout()"
                            class="block px-4 py-2 duration-300 hover:text-c4"
                          >
                            Logout
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        {% block content %}
        <!-- MAIN CONTENTS HERE -->

        {% endblock %}
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
      const notyf = new Notyf({
        duration: 5000,
        position: {
          x: 'right',
          y: 'top',
        },
        types: [
          {
            type: 'success',
            background: '#5EEE82', // Custom background color for success notifications (e.g., green)
            duration: 5000,
            dismissible: true,
          },
          {
            type: 'error',
            background: '#ef233c', // Custom background color for error notifications (e.g., orange)
            duration: 5000,
            dismissible: true,
          },
        ],
      });
    </script>
    <script>
      const api_base_url = '{{ student_api_base_url | default("") }}';
    </script>

    <script>
      function logout() {
        window.location.href = "{{ url_for('logout') }}";
      }
    </script>

    <script>
      // Function to check JWT expiration and refresh if necessary
      async function checkAndRefreshJWT() {
        try {
          const response = await fetch('/api/check-jwt-expiration');
          if (response.status === 200) {
            const newAccessToken = response.headers.get('New-Access-Token');
            if (newAccessToken) {
              // Update the JWT in your frontend
              // You can store it in a variable or browser storage
              updateJWT(newAccessToken);
            }
          } else {
            // Handle other response statuses (e.g., JWT expired)
          }
        } catch (error) {
          console.error('Error checking JWT expiration:', error);
        }
      }

      // Function to update the JWT in your frontend
      function updateJWT(newAccessToken) {
        // Update your JWT in your preferred storage (variable, localStorage, etc.)
        // Example if using a variable:
        accessToken = newAccessToken;
      }

      // Example: Periodically check and refresh the JWT (e.g., every 5 minutes)
      setInterval(checkAndRefreshJWT, 5 * 60 * 1000); // 5 minutes in milliseconds
    </script>

    {% block script %} {% endblock script %}
  </body>
</html>
