{% extends "systemadmin/layout.html" %} {% block title %} SCDS - Profile {%
endblock title %} {% block styles %}
<style>
  //* Apply bold style to the header cells */
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }

  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  /* Alternate row colors */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Hover effect */
  tbody tr:hover {
    background-color: #ddd;
  }

  /* Adjust text color */
  tbody td {
    color: #333;
  }
</style>
{% endblock styles %} {% block content %}

<!-- Modal container -->
<div
  id="statusModal"
  class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <div class="modal-content bg-white p-8 rounded-lg">
    <span
      class="close text-2xl absolute top-2 right-2 cursor-pointer"
      onclick="closeModal()"
      >&times;</span
    >
    <input type="hidden" id="incidentId" />
    <h2 class="text-2xl font-bold mb-4">Assign Investigator</h2>
    <label for="statusDropdown" class="block mb-2">Select Investigator:</label>
    <select id="statusDropdown" class="w-full p-2 mb-4 border rounded-md">
      {% for Faculty in faculty|sort(attribute='LastName')%}
      <option value="{{ Faculty.FacultyId }}">
        {{ Faculty.LastName }}, {{ Faculty.FirstName }}, {{ Faculty.MiddleName
        }}
      </option>
      {%endfor %}
    </select>
    <button
      onclick="assignInvestigator()"
      class="bg-blue-500 text-white px-4 py-2 rounded-md"
    >
      Assign
    </button>
  </div>
</div>

<div class="p-4 md:ml-72">
  <div class="border-2 border-gray-200 border-dashed rounded-lg">
    <div class="grid grid-cols-1">
      <div
        class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
      >
        <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
          Pending Cases
        </h3>
        <hr class="mx-2" />

        <div class="flex items-end justify-between">
          <div class="w-full bg-white p-4">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Date
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Report Details
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody id="output-container">
                {% for report in reports %}
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ report.date }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <p><strong>Report ID:</strong> {{ report.IncidentId }}</p>
                    <p>
                      <strong>Incident Type:</strong> {{ report.incident_type }}
                    </p>
                    <p><strong>Location:</strong> {{ report.location }}</p>
                    <p>
                      <strong>Submitted by:</strong> {{ report.complainant }}
                    </p>

                    <!-- Add other details as needed -->
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button
                      class="bg-blue-600 p-2 text-white"
                      onclick="editReport({{ report.IncidentId }})"
                    >
                      Edit Report
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  // Fetch location and incident types
  async function fetchReport() {
    try {
      // Fetch location data
      const reportResponse = await fetch(`${api_base_url}/all-reports`);

      if (!reportResponse.ok) {
        throw new Error('Failed to fetch report data');
      }

      const reportDetails = await reportResponse.json();
      console.log(reportDetails);

      // Get the container element where you want to render the data
      const outputContainer = document.getElementById('output-container');

      // Loop through the consoleResponse array and create HTML elements for each object
      reportDetails.result.forEach(async (report) => {
        // Create a tr element for each report
        const reportRow = document.createElement('tr');
        reportRow.innerHTML = `
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${report.Date}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <p><strong>Report ID:</strong> ${report.IncidentId}</p>
                <p><strong>Time:</strong> ${report.Time}</p>
                <p><strong>Incident Type:</strong> ${report.IncidentName}</p>
                <p><strong>Location:</strong> ${report.LocationName}</p>
                <p><strong>Student:</strong> ${report.StudentName}</p>
                <p><strong>Submitted by:</strong> ${report.Complainant}</p>
                <p><strong>Description:</strong> ${report.Description}</p>
                <strong>Status:</strong>
                <p id='status-${report.IncidentId}'> ${report.Status}</p>
                <!-- Add other details as needed -->
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <button class="bg-green-600 p-2 text-white" onclick="openModal(${report.IncidentId})">Assign Investigator</button>
                <button class="bg-red-600 p-2 text-white" onclick="accessReports(${report.IncidentId})">Approve Case</button>
                <button class="bg-blue-600 p-2 text-white" onclick="resolvePreCase(${report.IncidentId})">Resolve Pre-Case</button>

              </td>
            `;

        // Append the reportRow to the outputContainer
        outputContainer.appendChild(reportRow);
      });
    } catch (error) {
      console.error(error.message);
    }
  }
  // Make a approved report function
  async function accessReports(IncidentId) {
    console.log('accessReports', IncidentId);
    try {
      const response = await fetch(`${api_base_url}/access-report`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ IncidentId }),
      });

      if (!response.ok) {
        throw new Error('Failed to make accesible report');
      }

      const data = await response.json();
      console.log(data);

      if (data.result) {
        notyf.success('Case is now approved');
        document.getElementById(`status-${IncidentId}`).innerHTML = 'true';
      } else if (data.error) {
        notyf.error('Failed to open case');
      }
    } catch (error) {
      console.error(error.message);
    }
  }
  // Make a approved report function
  async function resolvePreCase(IncidentId) {
    console.log('resolvePreCase', IncidentId);
    try {
      const response = await fetch(`${api_base_url}/resolved-precase`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ IncidentId }),
      });

      if (!response.ok) {
        throw new Error('Failed to make accesible report');
      }

      const data = await response.json();
      console.log(data);

      if (data.result) {
        notyf.success('PreCase is now Resolved');
        document.getElementById(`status-${IncidentId}`).innerHTML = 'false';
      } else if (data.error) {
        notyf.error('Failed to close case');
      }
    } catch (error) {
      console.error(error.message);
    }
  }

  // Function to open the modal
  // Function to open the modal
  function openModal(incidentId) {
    // Set the caseId input field in the modal
    document.getElementById('incidentId').value = incidentId;

    // Show the modal
    const modal = document.getElementById('statusModal');
    modal.classList.remove('hidden');
  }

  // Function to close the modal
  function closeModal() {
    const modal = document.getElementById('statusModal');
    modal.classList.add('hidden');
  }

  // Function to update the status
  function assignInvestigator() {
    // Open the modal and set the caseId input field
    // get the caseId from the hidden input field
    const incidentId = document.getElementById('incidentId').value;
    console.log('incident value:', incidentId);

    openModal(incidentId);
    // Rest of your code...
    const assignedFaculty = document.getElementById('statusDropdown').value;
    console.log('assigned faculty:', assignedFaculty);

    // make a post request
    fetch(`${api_base_url}/assign-faculty`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ incidentId: incidentId, assignedFaculty }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        if (data.result) {
          notyf.success('Investigator assigned');
          document.getElementById(`status-${incidentId}`).innerHTML =
            assignedFaculty;
        } else if (data.error) {
          notyf.error('Failed to assign investigator');
        }
      })
      .catch((error) => {
        console.error(error.message);
      })
      .finally(() => {
        closeModal();
      });
  }

  fetchReport();
</script>
{% endblock script %}
