{% extends "systemadmin/layout.html" %} {% block title %} SCDS - Profile {%
endblock title %} {% block styles %}
<style>
  /* Set the chart container to 100% width */
  #containerChart {
    width: 100%;
  }

  /* Add any additional styles here */
</style>
{% endblock styles %} {% block content %}
<div class="p-4 md:ml-72">
  <div class="border-2 border-gray-200 border-dashed rounded-lg">
    <div class="grid grid-cols-1">
      <div
        class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
      >
        <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
          Resolved Pre-Case
        </h3>
        <hr class="mx-2" />

        <div class="flex items-end justify-between">
          <div class="w-full bg-white p-4">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Date
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Report Details
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody id="output-container">
                {% for report in reports %}
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ report.date }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <p><strong>Report ID:</strong> {{ report.IncidentId }}</p>
                    <p>
                      <strong>Incident Type:</strong> {{ report.incident_type }}
                    </p>
                    <p><strong>Location:</strong> {{ report.location }}</p>
                    <!-- Add other details as needed -->
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button
                      class="bg-blue-600 p-2 text-white"
                      onclick="editReport({{ report.IncidentId }})"
                    >
                      Edit Report
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  // Fetch location and incident types
  async function fetchReport() {
    try {
      // Fetch location data
      const reportResponse = await fetch(`${api_base_url}/resolved-pre-case`);

      if (!reportResponse.ok) {
        throw new Error('Failed to fetch report data');
      }

      const reportDetails = await reportResponse.json();
      console.log(reportDetails);

      // Get the container element where you want to render the data
      const outputContainer = document.getElementById('output-container');

      // Loop through the consoleResponse array and create HTML elements for each object
      reportDetails.result.forEach(async (report) => {
        // Create a tr element for each report
        const reportRow = document.createElement('tr');
        reportRow.innerHTML = `
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${report.Date}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <p><strong>Report ID:</strong> ${report.IncidentId}</p>
                    <p><strong>Time:</strong> ${report.Time}</p>
                    <p><strong>Incident Type:</strong> ${report.IncidentName}</p>
                    <p><strong>Location:</strong> ${report.LocationName}</p>
                    <p><strong>Student:</strong> ${report.StudentName}</p>
                    <p><strong>Submitted by:</strong> ${report.Complainant}</p>
                    <p><strong>Description:</strong> ${report.Description}</p>
                    <strong>Status:</strong>
                    <p id='status-${report.IncidentId}'> ${report.Status}</p>
                    <!-- Add other details as needed -->
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button class="bg-blue-600 p-2 text-white" onclick="reopenPreCase(${report.IncidentId})">Reopen Pre-Case</button>
                  </td>
                `;

        // Append the reportRow to the outputContainer
        outputContainer.appendChild(reportRow);
      });
    } catch (error) {
      console.error(error.message);
    }
  }
  // Make a approved report function
  async function reopenPreCase(IncidentId) {
    console.log('reopenPreCase', IncidentId);
    try {
      const response = await fetch(`${api_base_url}/reopen-report`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ IncidentId }),
      });

      if (!response.ok) {
        throw new Error('Failed to make accesible report');
      }

      const data = await response.json();
      console.log(data);

      if (data.result) {
        notyf.success('Case is now Reopened');
        document.getElementById(`status-${IncidentId}`).innerHTML = 'false';
      } else if (data.error) {
        notyf.error('Failed to to reopen case');
      }
    } catch (error) {
      console.error(error.message);
    }
  }
  fetchReport();
</script>
{% endblock script %}
