{% extends "faculty/layout.html" %} {% block title %}SCDS - Profile{% endblock
title %} {% block styles %}
<style>
  //* Apply bold style to the header cells */
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }

  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  /* Alternate row colors */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Hover effect */
  tbody tr:hover {
    background-color: #ddd;
  }

  /* Adjust text color */
  tbody td {
    color: #333;
  }

  #searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f8f8;
  }

  #searchInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* Maroon background for specified header cells */
  th.date-header.maroon-bg,
  th.report-details-header.maroon-bg,
  th.actions-header.maroon-bg {
    background-color: maroon !important;
    color: white;
  }
</style>
{% endblock styles %} {% block content %}

<div
  id="statusModal"
  class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <div class="modal-content bg-white p-16 rounded-lg">
    <span
      class="close text-6xl absolute top-2 right-2 cursor-pointer"
      onclick="closeModal()"
      >&times;</span
    >
    <input type="hidden" id="incidentId" />
    <h2 class="text-2xl font-bold mb-4">Suggest a Sanction</h2>
    <label for="sanctionDescription" class="block mb-2">Sanction:</label>
    <input
      type="text"
      id="sanctionDescription"
      name="sanction"
      class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-10 py-5"
      required
    />
    <p id="error-sanction" class="text-c4 text-sm"></p>
    <button
      onclick="assignSanction()"
      class="bg-blue-500 text-white px-4 py-2 rounded-md"
    >
      Assign
    </button>
  </div>
</div>

<div class="p-4 md:ml-72">
  <div class="border-2 border-gray-200 border-dashed rounded-lg">
    <div class="grid grid-cols-1">
      <div
        class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
      >
        <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
          Case Management
        </h3>

        <input
          type="text"
          id="searchInput"
          onkeyup="searchTable()"
          placeholder="Search..."
        />

        <hr class="mx-2" />

        <div class="flex items-end justify-between">
          <div class="w-full bg-white p-4">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider date-header maroon-bg"
                  >
                    Report ID
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider date-header maroon-bg"
                  >
                    Date
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider report-details-header maroon-bg"
                  >
                    Report Details
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider actions-header maroon-bg"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody id="output-container">
                {% for report in reports %}
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ report.date }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <p><strong>Report ID:</strong> {{ report.IncidentId }}</p>
                    <p><strong>Location:</strong> {{ report.location }}</p>
                    <p>
                      <strong>Submitted by:</strong> {{ report.complainant }}
                    </p>
                    <!-- Add other details as needed -->
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button
                      class="bg-blue-600 p-2 text-white"
                      onclick="editReport({{ report.IncidentId }})"
                    >
                      Edit Report
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  // Fetch location and incident types
  async function fetchReport() {
    try {
      // Fetch location data
      const reportResponse = await fetch(`${api_base_url}/all-reports`);

      if (!reportResponse.ok) {
        throw new Error('Failed to fetch report data');
      }

      const reportDetails = await reportResponse.json();
      console.log(reportDetails);

      // Get the container element where you want to render the data
      const outputContainer = document.getElementById('output-container');

      // Loop through the consoleResponse array and create HTML elements for each object
      reportDetails.result.forEach(async (report) => {
        // Create a tr element for each report
        const reportRow = document.createElement('tr');

        reportRow.setAttribute('id', `${report.IncidentId}`);

        reportRow.innerHTML = `
                <td class="px-6 py-4 text-center font-medium whitespace-nowrap text-sm text-gray-500">Case ${report.IncidentId}</td>
                <td class="px-6 py-4 text-center font-medium whitespace-nowrap text-sm text-gray-500">${report.Date}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <p name ="Time"><strong>Time:</strong> ${report.Time}</p>
                  <p name ="Location"><strong>Location:</strong> ${report.LocationName}</p>
                  <p name ="Student"><strong>Student:</strong> ${report.StudentName}</p>
                  <p name ="Investigator"><strong>Investigator:</strong> ${report.Investigator}</p>
                  <p name ="Complainant"><strong>Submitted by:</strong> ${report.Complainant}</p>
                  <p name ="Description"><strong>Description:</strong> ${report.Description}</p>
                  <p name ="status"><strong>Status:</strong> ${report.Status}</p>
                  <strong>Sanction:</strong>
                  <p name ="Sanction" id='Sanction-${report.IncidentId}'> ${report.Sanction}</p>
                  <!-- Add other details as needed -->
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 flex justify-center items-center">
                  <button class="bg-blue-600 p-2 text-white" onclick="openModal(${report.IncidentId})">Manage Case</button>
                </td>
              `;

        // Append the reportRow to the outputContainer
        outputContainer.appendChild(reportRow);
      });
    } catch (error) {
      console.error(error.message);
    }
  }

  function searchTable() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    table = document.getElementById('output-container');
    tr = table.getElementsByTagName('tr');

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName('td'); // Get all td elements in the row
      var found = false;
      for (j = 0; j < td.length; j++) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          found = true;
          break;
        }
      }
      // Toggle row display based on search result
      if (found) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }

  // Function to open the modal
  function openModal(incidentId) {
    // Set the caseId input field in the modal
    document.getElementById('incidentId').value = incidentId;

    // Show the modal
    const modal = document.getElementById('statusModal');
    modal.classList.remove('hidden');
  }

  // Function to close the modal
  function closeModal() {
    const modal = document.getElementById('statusModal');
    modal.classList.add('hidden');
  }

  // Function to update the status
  function assignSanction() {
    // Open the modal and set the caseId input field
    // get the caseId from the hidden input field
    const incidentId = document.getElementById('incidentId').value;
    console.log('incident value:', incidentId);

    openModal(incidentId);
    // Rest of your code...
    const assignSanction = document.getElementById('sanctionDescription').value;
    console.log('proposed sanction:', assignSanction);

    // make a post request
    fetch(`${api_base_url}/assign-sanction`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ incidentId: incidentId, assignSanction }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        if (data.result) {
          notyf.success('Sanction assigned successfully');
          document.getElementById(`Sanction-${incidentId}`).innerHTML =
            assignSanction;
        } else if (data.error) {
          notyf.error('Failed to assign the Sanction');
        }
      })
      .catch((error) => {
        console.error(error.message);
      })
      .finally(() => {
        closeModal();
      });
  }

  fetchReport();
</script>
{% endblock script %}
