{% extends "faculty/layout.html" %} {% block title %} SCDS - Violation Forms {%
endblock title %} {% block styles %}
<style>
  .e-headertext {
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
  }

  th.e-headercell {
    background-color: #6376eb !important;
    color: white;
  }

  .invalid-field {
    border: 2px solid #ff0000 !important;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }

  .modal-content p {
    margin-bottom: 20px;
  }

  .modal-buttons {
    text-align: right;
  }

  .modal-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-buttons button:hover {
    background-color: #f0f0f0;
  }

  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  /* Alternate row colors */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Hover effect */
  tbody tr:hover {
    background-color: #ddd;
  }

  /* Adjust text color */
  tbody td {
    color: #333;
  }
</style>
{% endblock %} {% block content %}
<div class="p-4 md:ml-72">
  <div class="border-2 border-gray-200 border-dashed rounded-lg">
    <div class="grid grid-cols-1">
      <div
        class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
      >
        <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
          Violation Form
        </h3>
        <hr class="mx-2" />

        <form class="w-full mt-4" id="submitReport">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <!-- INPUTS HERE -->
            <div>
              <label for="date-input" class="block mb-2 text-c1 font-extrabold"
                >Date</label
              >
              <input
                type="date"
                id="date-input"
                name="date"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              />
              <p id="error-date" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label for="time-input" class="block mb-2 text-c1 font-extrabold"
                >Time</label
              >
              <input
                type="time"
                id="time-input"
                name="time"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              />
              <p id="error-time" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="incident-input"
                class="block mb-2 text-c1 font-extrabold"
                >Violation Type</label
              >
              <select
                id="incident-input"
                name="incident"
                class="select2 bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              >
                {% for incident_type in incident_types|sort(attribute='Name') %}
                <option value="{{ incident_type.IncidentTypeId }}">
                  {{ incident_type.Name }}
                </option>
                {% endfor %}
              </select>
              <p id="error-incident" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="location-input"
                class="block mb-2 text-c1 font-extrabold"
                >Location</label
              >
              <select
                id="location-input"
                name="location"
                class="select2 bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              >
                {% for location in locations %}
                <option value="{{ location.LocationId }}">
                  {{ location.Name }}
                </option>
                {% endfor %}
              </select>
              <p id="error-location" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="student-input"
                class="block mb-2 text-c1 font-extrabold"
                >Select Violator</label
              >
              <select
                id="student-input"
                name="student"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              >
                {% for Student in students|sort(attribute='LastName') %}
                <option value="{{ Student.StudentId }}">
                  {{ Student.LastName }}, {{ Student.FirstName }} {{
                  Student.MiddleName }}
                </option>
                {% endfor %}
              </select>
              <p id="error-student" class="text-c4 text-sm"></p>
            </div>

            <div>
              <label
                for="description-input"
                class="block mb-2 text-c1 font-extrabold"
                >Description</label
              >
              <input
                type="text"
                id="description-input"
                name="description"
                class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                required
              />
              <p id="error-description" class="text-c4 text-sm"></p>
            </div>
          </div>

          <button
            type="button"
            id="submitModalBtn"
            class="text-white bg-c4 hover:bg-c5 transition duration-300 font-bold text-sm sm:w-auto px-5 px-5 py-2 text-center"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <p>
      Before submitting your violation form, please ensure that all information
      provided is accurate and true. Any false or misleading information may
      result in consequences as per the institution's policies and regulations.
      Your cooperation in maintaining the integrity of the reporting process is
      greatly appreciated.
    </p>
    <p>
      Click "<strong>OK</strong>" button to proceed. Otherwise, click
      "<strong>Cancel</strong>" button to go back.
    </p>
    <div class="modal-buttons">
      <button id="confirmSubmitBtn" class="bg-blue-800 text-white">OK</button>
      <button id="cancelSubmitBtn" class="bg-gray-400 text-gray-800">
        Cancel
      </button>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<!-- Include Notyf script -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<script>
  const confirmationModal = document.getElementById('confirmationModal');
  const submitModalBtn = document.getElementById('submitModalBtn');
  const confirmSubmitBtn = document.getElementById('confirmSubmitBtn');
  const cancelSubmitBtn = document.getElementById('cancelSubmitBtn');

  // Add event listener to the form submission
  function submitForm(formData) {
    const apiUrl = "{{ url_for('faculty_api.reportingViolation') }}";

    fetch(apiUrl, {
      method: 'POST',
      body: formData,
      credentials: 'include', // Include credentials (cookies) in the request
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Failed to submit report');
        }
        return response.json(); // Parse the JSON response
      })
      .then((data) => {
        // If the API returned a success message, display it and reset the form
        console.log('success:', data);
        if (data.success) {
          notyf.success(data.message);
          document.getElementById('submitReport').reset(); // Reset the form
        } else {
          // If the API returned an error message, display it
          notyf.error(data.message);
        }
      })
      .catch((error) => {
        // Handle errors
        console.error('Error submitting report:', error.message);
        notyf.error('Failed to submit report');
      });
  }

  // Add event listener to the submit button to show the modal
  submitModalBtn.addEventListener('click', function () {
    const form = document.getElementById('submitReport');
    const formIsValid = form.checkValidity();

    if (formIsValid) {
      confirmationModal.style.display = 'block';
    } else {
      // Iterate over form elements to find empty required fields
      const formElements = form.querySelectorAll('input, select');
      formElements.forEach((element) => {
        if (!element.checkValidity()) {
          element.classList.add('invalid-field');
        } else {
          element.classList.remove('invalid-field');
        }
      });

      notyf.error('Please fill out all required fields');
    }
  });

  // Add event listener to the OK button in the modal to submit the form
  confirmSubmitBtn.addEventListener('click', function () {
    // Get the form data
    const formData = new FormData(document.getElementById('submitReport'));
    // Submit the form
    submitForm(formData);
    // Hide the modal
    confirmationModal.style.display = 'none';
  });

  // Add event listener to the Cancel button in the modal to hide the modal
  cancelSubmitBtn.addEventListener('click', function () {
    confirmationModal.style.display = 'none';
  });
</script>
{% endblock script %}
