<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/pup2.png') }}"
      sizes="16x16 32x32"
      type="image/png"
    />

    <!-- CDN TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#700001',
              accent1: '#000000',
              accent2: '#656363',
              secondary: '#CDD3D8',
              info: '#29BAF2',
              success: '#5EEE82',
              warning: '#FFA434',
              danger: '#FFA6A1',
              dark: '#191D21',
            },
          },
        },
      };
    </script>
    <!-- Notyf -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    </style>

    <title>
      {% block title %}Polytechnic University of the Philippines{% endblock %}
    </title>
  </head>
  <body class="overflow-x-hidden">
    <main class="text-black">
      <img
        src="{{ url_for('static', filename='images/login/my-pupqc.png') }}"
        alt="Logo"
        class="object-cover object-center rounded-lg mx-auto w-32 md:w-28 lg:w-32 absolute top-10 left-10 md:top-20 md:left-20 z-10"
      />
      <img
        src="{{ url_for('static', filename='images/login/bg.jpg') }}"
        alt="Logo"
        class="object-cover h-screen w-screen absolute z-0"
      />
      <img
        src="{{ url_for('static', filename='images/login/1.png') }}"
        alt="Logo"
        class="object-cover top-0 right-[-20px] z-0 absolute w-48 md:w-auto"
      />
      <img
        src="{{ url_for('static', filename='images/login/3.png') }}"
        alt="Logo"
        class="object-cover bottom-20 left-20 z-0 absolute"
      />
      <img
        src="{{ url_for('static', filename='images/login/2.png') }}"
        alt="Logo"
        class="object-cover bottom-40 right-20 z-0 absolute"
      />
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
