{% extends "main/base.html" %} {% block content %}

<div
  class="flex flex-col h-screen w-screen items-center justify-center mx-auto"
>
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg border-2 border-gray-100 z-10 w-11/12 md:w-[36rem]"
  >
    <div>
      <h1
        class="text-accent1 font-poppins text-4xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        PUP-SCDS
      </h1>
      <p
        class="text-gray-800 text-2xl md:text-3xl font-semibold font-poppins mt-3 mb-3 opacity-60"
      >
        Log In As
      </p>
    </div>

    <div class="">
      <a href="{{ url_for('systemAdminLogin') }}">
        <button
          class="bg-primary text-white w-full rounded-md py-3 mt-3 rounded-lg font-bold"
        >
          OSAS
        </button>
      </a>
      <a href="{{ url_for('sdbLogin') }}">
        <button
          class="bg-primary text-white w-full rounded-md py-3 mt-3 md:mt-4 rounded-lg font-bold"
        >
          SDB
        </button>
      </a>
    </div>
  </div>
  <p class="z-10 text-accent1 opacity-60 absolute bottom-10">
    myPUPQC © <span id="year"></span>
  </p>
</div>

{% endblock content %}
