{% extends "main/base.html" %} {% block content %}
<div
  class="flex h-screen items-center justify-center px-4 md:px-6 py-10 md:py-20"
>
  <div class="bg-black bg-opacity-80 p-6 md:p-10 text-center rounded-lg">
    <div>
      <img
        src="{{ url_for('static', filename='images/pup.png') }}"
        alt="Logo"
        class="w-12 md:w-24 mx-auto mb-3 md:mb-4"
      />
      <h1
        class="text-white font-poppins text-xl md:text-2xl font-bold mt-2 md:mt-4"
      >
        Welcome PUPian!
      </h1>
      <p class="text-white text-sm md:text-md font-poppins mt-2 mb-4">
        Please click or tap your your category.
      </p>
    </div>
    <div>
      <a href="{{ url_for('studentLogin') }}" class="block">
        <button
          class="bg-sky-600 text-white w-full rounded-md py-2 mt-2 md:mt-4"
        >
          Student
        </button>
      </a>
      <a href="{{ url_for('facultyLogin') }}" class="block">
        <button
          class="bg-red-700 text-white w-full rounded-md py-2 mt-2 md:mt-4"
        >
          Faculty
        </button>
      </a>
    </div>
    <div>
      <p class="text-xs md:text-sm text-white mt-3">
        By using this service, you understand and agree to the PUP Online
        Services Terms of Use and Privacy Statement
      </p>
    </div>
  </div>
</div>
{% endblock content %}
