{% extends "universityadmin/layout.html" %}

<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="p-4">
  <div class="rounded-lg">
    <div class="grid grid-cols-1">
      <!-- IMPORTING GRADES (FUTURE PURPOSES) -->
      <!-- <div
          class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
        >
          <div class="flex items-end justify-between">
            <div class="w-full bg-white p-4 mt-4">
              <div id="Grid"></div>
            </div>
          </div>
        </div> -->
      <div
        class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
      >
        <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
          University Admin Profile
        </h3>
        <hr class="mx-2" />
        <div class="flex items-end justify-between">
          <div class="w-full bg-white p-4">
            <form
              class="w-full mt-4"
              method="POST"
              onsubmit="submitForm(event)"
            >
              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                  <p class="text-c1 font-extrabold">Name:</p>
                  <p class="text-c1 opacity-90 font-normal" id="name">Name</p>
                </div>
                <div>
                  <p class="text-c1 font-extrabold">Admin Number:</p>
                  <p class="text-c1 opacity-90 font-normal" id="admin-number">
                    Number
                  </p>
                </div>
                <div>
                  <p class="text-c1 font-extrabold">Gender:</p>
                  <p class="text-c1 opacity-90 font-normal" id="gender">
                    Gender
                  </p>
                </div>
                <div>
                  <!-- <p class="text-c1 font-extrabold">Course Taken:</p>
                    <p class="text-c1 opacity-90 font-normal" id="course">
                      Course Taken
                    </p> -->
                </div>

                <!-- INPUTS HERE -->
                <div>
                  <label
                    for="email-input"
                    class="block mb-2 text-c1 font-extrabold"
                    >Email</label
                  >
                  <input
                    type="email"
                    id="email-input"
                    name="email"
                    placeholder="username@gmail.com"
                    class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                  />
                  <p id="error-email" class="text-c4 text-sm"></p>
                </div>
                <div>
                  <label
                    for="number-input"
                    class="block mb-2 text-c1 font-extrabold"
                    >Mobile Number</label
                  >
                  <input
                    type="text"
                    id="number-input"
                    name="number"
                    class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                    placeholder="09XXXXXXXXX"
                  />
                  <p id="error-mobile" class="text-c4 text-sm"></p>
                </div>
                <div>
                  <label
                    for="residential-address-input"
                    class="block mb-2 text-c1 font-extrabold"
                    >Residential Address</label
                  >
                  <input
                    type="text"
                    id="residential-input"
                    name="residential-address"
                    class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
                    placeholder="Unit No/Brgy/Municipality/City"
                  />
                  <p id="error-residential" class="text-c4 text-sm"></p>
                </div>
              </div>
              <button
                type="submit"
                class="text-white bg-c4 hover:bg-c5 transition duration-300 font-bold text-sm sm:w-auto px-5 px-5 py-2 text-center"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
<!----------------- SCRIPTS ----------------->
{% block script %}
<!-- Include Notyf script -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<!-- UPDATING USER DETAILS -->
<script>
  const notyf = new Notyf({
    duration: 5000,
    position: {
      x: 'right',
      y: 'top',
    },
    types: [
      {
        type: 'success',
        background: '#5EEE82', // Custom background color for success notifications (e.g., green)
        duration: 5000,
        dismissible: true,
      },
      {
        type: 'error',
        background: '#ef233c', // Custom background color for error notifications (e.g., orange)
        duration: 5000,
        dismissible: true,
      },
    ],
  });

  async function submitForm(event) {
    event.preventDefault();
    const email = document.getElementById('email-input').value;
    const number = document.getElementById('number-input').value;
    const residentialAddress =
      document.getElementById('residential-input').value;

    // Send data to the API
    const response = await fetch(`${api_base_url}/details/update`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, number, residentialAddress }),
    });

    const data_university_admin_details = await response.json();

    const errorDetails = {
      email: {
        id: 'error-email',
        message: 'Please provide a valid email address',
      },
      mobile: {
        id: 'error-mobile',
        message: 'Mobile must be in "09XXXXXXXXX" format',
      },
      residential: {
        id: 'error-residential',
        message: 'Residential address must not be empty',
      },
    };

    const status = data_university_admin_details.status;
    const errorType = data_university_admin_details.type;

    if (status === 400 || status === 404 || status === 500) {
      if (errorDetails[errorType]) {
        const { id, message } = errorDetails[errorType];
        const errorElement = document.getElementById(id);
        errorElement.innerText = message;
        errorElement.classList.add('mt-2');
      } else {
        notyf.error(data_university_admin_details.message);
      }
    } else if (status === 200) {
      for (const key in errorDetails) {
        const { id } = errorDetails[key];
        const errorElement = document.getElementById(id);
        errorElement.innerText = '';
        errorElement.classList.remove('mt-2');
      }

      notyf.success(data_university_admin_details.message);
      updateDetails(data_university_admin_details);
    } else {
      notyf.error('Something went wrong');
    }

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }
  }

  function updateDetails(data_university_admin_details) {
    const input_email = document.getElementById('email-input');
    const input_number = document.getElementById('number-input');
    const input_residential = document.getElementById('residential-input');

    input_email.value = data_university_admin_details.email;
    input_number.value = data_university_admin_details.number;
    input_residential.value = data_university_admin_details.residentialAddress;
  }
</script>

<!-- FETCHING USER DETAILS -->
<script>
  async function fetchStudentDetails() {
    const response = await fetch(`${api_base_url}/`);

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }

    const data_university_admin_details = await response.json();
    displayDetails(data_university_admin_details);
  }

  function displayDetails(data) {
    const input_email = document.getElementById('email-input');
    const input_number = document.getElementById('number-input');
    const input_residential_address =
      document.getElementById('residential-input');

    const text_name = document.getElementById('name');

    const text_student_number = document.getElementById('admin-number');
    const text_gender = document.getElementById('gender');

    input_email.value = `${data.Email ? data.Email : ''}`;

    input_number.value = `${data.MobileNumber ? data.MobileNumber : ''}`;

    input_residential_address.value = `${
      data.ResidentialAddress ? data.ResidentialAddress : ''
    }`;

    text_name.innerHTML = data.Name;
    text_student_number.innerHTML = data.UnivAdminNumber;
    text_gender.innerHTML = data.Gender;
  }

  fetchStudentDetails();
</script>

{% endblock script %}
