<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Notification of Case Assignment: Investigation of Student Matter
    </title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <p>
      <strong
        >Subject: Notification of Case Assignment: Investigation of Student
        Matter</strong
      >
    </p>

    <p>Dear Investigator,</p>

    <p>
      You have been assigned as the investigator for a student-related matter
      within the Student Conduct and Discipline System (SCDS), Case no.
      {{caseId}}.
    </p>

    <p>
      Your role in this investigation is crucial to ensure a fair and thorough
      examination of the case. As the investigator, you are responsible for
      gathering evidence, interviewing involved parties, and documenting all
      pertinent information related to the matter.
    </p>

    <p>
      Please review the details of the case and commence your investigation
      promptly. If you have any questions or require assistance throughout the
      process, feel free to reach out to Alma Fernandez at alma123@gmail.com.
    </p>

    <p>
      Thank you for your cooperation and dedication to upholding the integrity
      of our institution's disciplinary procedures.
    </p>

    <p>
      <strong>Sincerely,</strong><br />
      OSAS Office
    </p>
  </body>
</html>
