<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification of Violation Involvement</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <p><strong>Subject: Notification of Violation Involvement</strong></p>

    <p>Dear {{ name }}:</p>

    <p>
      This is to inform you that you are involved in a violation within the
      Student Conduct and Discipline System (SCDS). As an involved party in the
      violation case no. {{ violationId }} with the following sanction:
      <strong>{{ sanction }}</strong>, you have the right to appeal any
      decisions made regarding this violation.
    </p>

    <p>
      Your cooperation and adherence to the established procedures are crucial
      to ensure a fair and thorough investigation. If you wish to appeal or
      require further information regarding the violation, please reach out to
      the appropriate administrative personnel at the OSAS office.
    </p>

    <p>Thank you for your attention to this matter.</p>

    <p>
      <strong>Sincerely,</strong><br />
      OSAS Office
    </p>
  </body>
</html>
